:root {
    --color:rgb(238, 177, 116);
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    
    background: var(--color);
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:  rgb(215, 215, 215);
    width: 100%;
    margin: 0;
    padding: 10px;
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.photos .monografia {
    max-width: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
    padding: 20px;
    grid-gap: 1rem;
}

.photos .monografia img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    

}

.photos .monografia .img-a{
    background: rgb(231, 88, 88);
}

.photos .monografia .img-b{
    background: rgb(85, 225, 132);
}

.photos .monografia .img-c{
    background: rgb(112, 25, 25);

}
.photos .monografia .img-d{
    background: rgb(12, 129, 129);
}
.photos .monografia .img-e{
    background: rgb(71, 15, 15);
    

}
.photos .monografia .img-f{
    background: rgb(83, 19, 167);
    grid-column-start: span 2;
}
.photos .monografia .img-h{
    background: rgb(217, 95, 162);
}
.photos .monografia .img-i{
    background: black;
}
.photos .monografia .img-j{
    background: black;
}
.photos .monografia .img-l{
    background: black;
}